#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1em;
}

.subtitle {
  padding: 2em;
  color: #888;
}

.password {
  white-space: anywhere;
  border-radius: 0.5em;
  width: calc(100% - 2.4em - 2px);
  max-width: 22.5em;
  max-height: 50dvh;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  border: 1px solid;
  cursor: pointer;
  resize: none;
  overflow-y: hidden;
  scroll-padding-block: 0;
  transition: height ease 0.5s;
  margin-bottom: 2em;
  flex-shrink: 0;
}

.password:disabled {
  background-color: #e0ffd6;
  border-color: #7db15c;
}

.password.fullscreen {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.rule-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 0fr;
  width: 100%;
  align-items: center;
}

.rule-container::-webkit-scrollbar {
  display: none;
}

.rule {
  width: 100%;
  max-width: 25em;
  display: grid;
  transition: all ease-in-out 0.6s;
  background-color: #ffb3b3;
  border: 2px solid #ff4b4b;
  border-radius: 1em;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapped-rule {
  overflow-y: hidden;
}

.rule.completed {
  background-color: #c6ffb3;
  border: 2px solid #70d233;
}

.rule h3 {
  margin: 0;
  margin-bottom: 0.4em;
}

.rule p {
  margin: 0;
}

.captcha {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.captcha canvas {
  border-radius: 8px;
}

.captcha button {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.colored-div {
  margin: 1em auto 0.5em;
  width: 10em;
  height: 5em;
  border-radius: 0.5em;
}

.timer {
  background-color: #eee;
  padding: 0.5em;
  margin: 1em auto 0.5em;
  border-radius: 0.5em;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
}

.timer div {
  width: 1.5em;
  text-align: center;
}

.fullscreen-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: transparent;
  padding: 0.5em;
  border: none;
  outline: none !important;
}

.fullscreen-button:focus,
.fullscreen-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sponsors {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  padding: 1em 0 0.5em 0;
}

.sponsors img {
  width: calc(100% - 2em);
  margin: 0 auto;
  height: auto;
}

.sponsors img.google {
  width: calc(100% - 1.5em);
}

.finish svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.finish .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.finish .path.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.finish .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.finish .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}


@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}